html, body {
    height: 100%;
}

body {
    background-image: url("../images/noisy_grid.png");
    background-color: #cccccc;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

nav {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
}

.nav-container {
    width: auto;
    margin: 0 50px;
}

.nav-links-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links {
    padding: 10px;
    font-size: 18px;
    text-align: right;
    white-space: nowrap;
    margin: 0;
}

a {
    color: #777777;
    text-decoration: none;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 30px 0px;
    font-weight: bold;
    font-size: 2em;
    background-color: #4aaaa5;
    width: 320px;
    white-space: nowrap;
}

h2 {
    color: #4aaaa5;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 0 0;
}

hr {
    border-top: 2px solid #cccccc;
    margin-bottom: 25px;
}

.main-container {
    margin: 35px 50px;
    width: auto;
}

.main-content-container {
    background-color: #ffffff;
    padding: 15px 35px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
}

.footer {
    flex-shrink: 0;
    background-color: #666666;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 7px;
}

.footer-container {
    width: auto;
    margin: 0 50px;
}

.footer-content-container {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #c5c7be;
    padding: 35px 0px 5px 0px;
}

/* About Page */

#my-image {
    float: left;
    width: 400px;
    margin: 0px 25px 15px 0px;
}

.bio {
    line-height: 30px;
}

/* Portfolio Page */

.portfolio-image-container {
    position: relative;
    width: 220px;
    height: 165px;
    margin: 40px 0;
}

.portfolio-image-container .portfolio-image-caption {
    position: absolute;
    width: 220px;
    height: 50px;
    bottom: 10px;
    left: 0px;
    background: #4aaaa5;
}

.portfolio-image-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ffffff;
}

/* Contact Page */

label {
    display: block;
    margin: 20px 0px 5px 0px;
}

input[type=text], #message {
    width: 100%;
    padding: 8px;
    color: #777777;
    font-size: 14px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}

input[type=submit] {
    font-size: 15px;
    margin-top: 20px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 9px 25px;
    display: block;
}

#message {
    height: 200px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* These rules take effect when the browser's width is either 640px or less. */
@media screen and (max-width: 640px) {
    h1 {
        width: auto;
    }

    .nav-container {
        margin: 0;
    }

    .nav-links-container {
        justify-content: center;
    }

    .portfolio-image-container {
        margin: 10px 0;
    }
}