body {
    background-image: url("../images/noisy_grid.png");
    background-color: #cccccc;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
}

.nav-container {
    margin: 0 50px;
}

.nav-links-container {
    display: table;
    margin: auto;
}

.nav-links {
    padding: 10px;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin: 0 0 0 ;
    padding: 30px 0px;
    font-weight: bold;
    font-size: 2em;
    background-color: #4aaaa5;
    width: 320px;
}

/* Media Queries
When xs screen (640px), change h1 width to auto and remove left and right margins from .nav-container */

/* These rules take effect when the browser's width is either 640px or less. */
@media screen and (max-width: 640px) {
    h1 {
        width: auto;
    }

    .nav-container {
        margin: 0;
    }

    .nav-links {
        text-align: center;
    }
}